<!doctype html>
<html><!-- InstanceBegin template="/templates/template1.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Home Page</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="l3d_css/l3d_css.css"/>
<link rel="stylesheet" href="l3d_css/multiItemCarousel.css"/>
<script src="js/angular.min.js"></script>
<script src="Data/detailData.js"></script>
<!-- InstanceEndEditable -->
</head>

<body>
<!--Day la phan Logo Header-->
<div class="jumbotron jumb-homepage-l3d" >
    <div class="container" style="display:flex;justify-content:center;">
        	<img src="Dat/logo.png" width="303px" height="319.5px">            
    </div>
</div>
<!-- Day la phan Menu (ba Duyen lam) -->
<nav class="navbar navbar-default nav-homepage-l3d">
    <div class="container-fluid">
        <!--<div class="navbar-header">
            <a class="navbar-brand" href="#"> Home</a>
        </div>-->        
        <ul class="nav navbar-nav l3d">
        	<li><a href="index.html"> Home</a></li>
            <li><a href="AboutUs.html"> About Us</a></li>
            <li><a href="category.html"> Products-Categories</a></li>
            <li><a href="query.html"> Query</a></li>
            <li><a href="ShowCase.html"> Show-case</a></li>
            <li><a href="ContactUS.html"> Contact us</a></li>
        </ul>
        
    </div>
</nav>
<!-- InstanceBeginEditable name="thaydoi" -->

<!--Day la phan About us-->
	<div class="container about-homepage-l3d">
    	<div class="col-md-6">
        	<p class="brand-l3d">Star Organic Farm</p>
            <p class="briefInfo">
            Star Organic farm is commenced in the year 1988. Company is involved in trading and manufacturing a wide range of Organic Products and spices to the consumers all around the global market.Company has wide variety of collection of products lies of Nutritious cereals, Pulses, Spices and Condiments, Cooking Oils, Fruit Pulps, Agro Products, Oils, Wheat and Wheat Flour, Rice and Rice products and so on.
             </p>
             <a href="AboutUs.html">More detail...</a>
        </div>
        <div class="col-md-6" align="right">
        	<a href="AboutUs.html" title="About Us">
        	<img class="img-responsive" src="image/Farm/farm.jpg" alt="Star Organic Farm">
            </a>
        </div>        
    </div>

<!--Day la phan Highlight product -->
	<div class="jumbotron section-homepage-l3d">    	
        	<p>Amazing Sale Off Product</p>    
	</div>
<div id="ownerAngular" ng-app="homeApp" ng-controller="homeController">
<div ng-repeat="x in data">
	<!--Day la phan Highlight product 1-->    
    <div class="container hlight-homepage-l3d" ng-if="$even &&  $index < amount">
    	<div class="col-md-8 col-lg-8">
        	<img class="img-responsive" src="{{x.smImg}}" width="400px" height="150px" alt="{{x.Name}}">            
        </div>
        <div class="col-md-4 col-lg-4">
        	<p class="homepage prName">{{x.Name}}</p>
            <p class="prOff"> - {{x.Off*100}} % </p>
            <p class="prBriefInfo">{{x.Brief}}
            </p>
            <button id="{{x.ID}}" class="btn btn-primary" onClick="getID(this)">More Detail</button>
        </div>
    </div>
    <!--Day la phan Highlight product 2-->    
    <div class="container hlight-homepage-l3d" ng-if="$odd && $index < amount">    	
        <div class="col-md-4 col-lg-4">
        	<p class="homepage prName">{{x.Name}}</p>
        	<p class="prOff"> - {{x.Off*100}} % </p>
            <p class="prBriefInfo">{{x.Brief}}
            </p>
            <button id="{{x.ID}}" class="btn btn-primary" onClick="getID(this)">More Detail</button>
        </div>
        <div class="col-md-8 col-lg-8" align="right">
        	<img class="img-responsive" src="{{x.smImg}}" width="400px" height="150px" alt="{{x.Name}}">
        </div>
    </div>   
</div>  
</div>
<!--Day la phan Partner-->
	<div class="jumbotron section-homepage-l3d">    	
        	<p>Our Partners</p>    
	</div>
	<!--Phan hinh anh Partner-->    
    <div class="row">    
        <div class="col-md-12">	
            <div class="carousel slide multi-item-carousel" id="myCarousel">
                <div class="carousel-inner" id="carouselWrap">
                    <div class="item active">
                                                      
                        <div class="col-xs-4">
                        	<a href="showcase.html#sc1">
                            <img src="image/Partner/logo1.jpg" class="img-responsive" alt="Partner 1">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">                           	
                        	<a href="showcase.html#sc2">
                            <img src="image/Partner/logo2.jpg" class="img-responsive" alt="Partner 2">
                        </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">
                        	<a href="showcase.html#sc3">
                            <img src="image/Partner/logo3.jpg" class="img-responsive" alt="Partner 3">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">
                        	<a href="showcase.html#sc4">
                            <img src="image/Partner/logo4.jpg" class="img-responsive" alt="Partner 4">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4"> 
                        	<a href="showcase.html#sc5">
                            <img src="image/Partner/logo5.jpg" class="img-responsive" alt="Partner 5">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">
                        	<a href="showcase.html#sc6">
                            <img src="image/Partner/logo6.jpg" class="img-responsive" alt="Partner 6">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">                     		
                        	<a href="showcase.html#sc7">
                            <img src="image/Partner/logo7.jpg" class="img-responsive" alt="Partner 7">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">                    		
                        <a href="showcase.html#sc8">
                            <img src="image/Partner/logo8.jpg" class="img-responsive" alt="Partner 8">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                    
                        <div class="col-xs-4">                    		
                        	<a href="showcase.html#sc9">
                            <img src="image/Partner/logo9.jpg" class="img-responsive" alt="Partner 9">
                            </a>
                        </div>
                    </div>
                    
                        
                </div>
                
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>         
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
	</div>
<script>
	var hApp = angular.module("homeApp", []);
	hApp.controller("homeController", function($scope){
		//so luong San pham se hien thi thong qua bien Amount
		$scope.amount = 3;
		$scope.data = [];
		var tempData = productDetail;
		var tempVar;		
		for (var i = 0; i < tempData.length; i++){
			for (var j = i + 1; j < tempData.length; j++){
				if ( tempData[i].Off < tempData[j].Off){
					tempVar = tempData[j];
					tempData[j] = tempData[i];
					tempData[i] =tempVar;	
				}
			}
		}
		$scope.data = tempData;
	});
	function getID(element){
		ID = ($(element).attr("id"));
		//luu productID vao local storage
		localStorage.setItem("proID", ID);
		window.location.href = "detail.html";	
	}
</script>
    
<!-- InstanceEndEditable -->

<!--Day la phan Footer-->
<div class="jumbotron footer-homepage-l3d">
    <div class="container-fluid" >
    	<div class="col-sm-6">
        	<p>Copyright &copy; 2017. All right reserved</p>
        </div>
        <div class="col-sm-6" style="text-align:right">
            <p>L3D Group</p> 
        </div>           
    </div>
</div>

<!--Day la phan lien ket javascript -->
<!--Day la phan lien ket javascript -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="l3d_js/multi_item_carousel.js"></script>
</body>
<!-- InstanceEnd --></html>
