/* CSS Document */

/*Homepage Css*/
	.navbar.navbar-default.navbar-home-l3d{
		background-color:rgba(39, 174, 96,1.0);	
	}
	
	.navbar-default .navbar-nav>li>a{
		color:white;
	}
	
	.navbar-default .navbar-header>a{
		color:white;
	}
