/* CSS Document */
	.left{
		text-align:left;	
	}
	.right{
		text-align:right;	
	}
	.center{
		text-align:center;	
	}
/* Set root font size */
@media screen and (min-width:992px){
	html{
		font-size:16px;	
	}
}
@media screen and (max-width:992px){
	html{
		font-size:12px;	
	}
}
/*day la phan cho Homepage*/
	
	.body-homepage-l3d{
		/*background-color:rgba(214,223,204,1.00);*/
		/*background-color:black;*/
	}
	
	/*day la css cho jumbotron*/
	.jumb-homepage-l3d{
		padding:0px;
		margin:0px;
		background: radial-gradient(circle, white 75%, rgba(46, 204, 113,1.0));
	}
	
	/*Day la css cho thanh Navbar*/
	
		/*-Tao mau Xanh cho thanh navbar*/
		.navbar.navbar-default.nav-homepage-l3d{
			background-color:rgba(4,207,4,1.00);
			font-size:1rem;
			border-radius:0rem;
		}
		/*Het mau Xanh cho navbar*/
		
		/*-Chu mau trang cho noi dung trong Menu*/
		.container-fluid .nav>li>a{
			color:white;
			margin-right:1.8rem;
			margin-left:1.8rem;
			font-size:1rem;	
		}
		/*Khi man hinh nho hon 1100px giam margin menu item*/
		@media screen and (max-width:1100px){
			.container-fluid .nav>li>a{			
			margin-right:1.4rem;
			margin-left:1.4rem;
			font-size:1rem;	
		}
		}
		.navbar-header .navbar-brand{
			color:white;
		}
		/*Het Chu mau trang cho noi dung trong Menu*/
		
		.navbar .container-fluid{
			display:flex;
			justify-content:center;
		}
		
		/*Mau chu cho highlight product*/
		.highlight-homepage-l3d{
			color:rgba(211, 84, 0,1.0);
			font-weight:bold;
		}
		.hightlight-info-homepage-l3d{
			color:black;
		}
		
		.row.section1-homepage-l3d{
			
			margin-top:1.25rem;
			padding:6.25rem;
			background:linear-gradient(white 60%, #74E868);	
		}
		.row.section1-homepage-l3d>div>p{
			font-size:1.25rem;
		}
		
		.row.section2-homepage-l3d{
			margin-bottom:1.25rem;
			
			padding:6.25rem;
			background:white;	
		}
		.row.section2-homepage-l3d>div>p{
			font-size:1.25rem;
		}
		
		.row.section3-homepage-l3d{
	
			margin-top:1.25rem;
			padding:6.25rem;
			background:linear-gradient(#74E868,white 60%);	
		}
		.row.section3-homepage-l3d>div>p{
			font-size:1.25rem;	
		}
	
		
		.row.partner-homepage-l3d{			
			display:flex;
			justify-content:space-between;
		}
		.img-responsive.partner-homepage-l3d{
			margin-left:5rem;	
			margin-right:5rem;		 
		}
	/*Day la css cho partner */
		.multi-item-carousel .carousel-inner .item>div{
			padding:4rem;	
		}
		.multi-item-carousel .carousel-inner .item>div>a>img{
				width:600px;	
		}
		@media screen and (max-width:767px){
			.multi-item-carousel .carousel-inner .item>div>a>img{
				width:150px;	
			}
			.multi-item-carousel .carousel-inner .item>div{
				padding:2rem;	
			}
		}
	/*Day la css cho footer*/
		.jumbotron.footer-homepage-l3d{
			padding:1.25rem;
			margin-top:1.25rem;
			margin-bottom:0rem;
			background-color:rgba(44, 62, 80,1.0);
			color:white;
		}
<<<<<<< HEAD
		
=======
	/*Day la css cho button*/
		.btn {
    border: thin; /* Remove borders */
    color: white; /* Add a text color */
    padding: 1.5rem 2.1rem; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
	font-size: 1.25rem;
}
	.info {background-color: #33CC00;} /* Blue */
	.info:hover {background: #390;}
>>>>>>> 1bd740e4cc3c6082cc51d6d5ac57ad8b5534a266
