/* CSS Document */
/* Set root font size */
	html{
		font-size:16px;	
	}

/*day la phan cho Homepage*/

	.body-homepage-l3d{
		/*background-color:rgba(214,223,204,1.00);*/
		/*background-color:black;*/
	}
	
	/*Day la css cho thanh Navbar*/
	
		/*-Tao mau Xanh cho thanh navbar*/
		.navbar.navbar-default.nav-homepage-l3d{
			background-color:rgba(89,146,89,1.00);
			font-size:1rem;
			border-radius:0rem;
		}
		/*Het mau Xanh cho navbar*/
		
		/*-Chu mau trang cho noi dung trong Menu*/
		.container-fluid .nav>li>a{
			color:white;
			margin-right:1.8rem;
			margin-left:1.8rem;
			font-size:1rem;	
		}
		.navbar-header .navbar-brand{
			color:white;
		}
		/*Het Chu mau trang cho noi dung trong Menu*/
		
		.navbar .container-fluid{
			display:flex;
			justify-content:center;
		}
		
		
	
		
		.row.section1-homepage-l3d{
			
			margin-top:1.25rem;
			padding:6.25rem;
			background:linear-gradient(white 60%,rgba(95,94,94,1.00));	
		}
		.row.section1-homepage-l3d>div>p{
			font-size:1.25rem;
		}
		
		.row.section2-homepage-l3d{
			margin-bottom:1.25rem;
			
			padding:6.25rem;
			background:white;	
		}
		.row.section2-homepage-l3d>div>p{
			font-size:1.25rem;
		}
		
		.row.section3-homepage-l3d{
	
			margin-top:1.25rem;
			padding:6.25rem;
			background:linear-gradient(rgba(95,94,94,1.00),white 60%);	
		}
		.row.section3-homepage-l3d>div>p{
			font-size:1.25rem;	
		}
	
		
		.row.partner-homepage-l3d{			
			display:flex;
			justify-content:space-between;
		}
	/*Day la css cho footer*/
		.jumbotron.footer-homepage-l3d{
			padding:1.25rem;
			margin-top:1.25rem;
			margin-bottom:0rem;
			background-color:rgba(44, 62, 80,1.0);
			color:white;
		}
	/*Day la css cho button*/
/*		.btn {
    border: thin; /* Remove borders */
    color: white; /* Add a text color */
    padding: 1.5rem 2.1rem; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
	font-size: 1.25rem;
}
	.info {background-color: #33CC00;} /* Blue */
	.info:hover {background: #390;}
*/
/*CSS TIMELINE*/
* {
    box-sizing: border-box;
}

body {
    background-color: #B9FFC9;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline.aboutus-l3d{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline.aboutus-l3d::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FFCC33;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0px;
}

/* Container around content */
.container.aboutus-l3d{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container.aboutus-l3d ::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.aboutus-l3d.left {
    left: 0%;
}

/* Place the container to the right */
.aboutus-l3d.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.aboutus-l3d.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;

}

/* Add arrows to the right container (pointing left) */
.aboutus-l3d.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.aboutus-l3d.right::after {
    left: -16px;
}

/* The actual content */
.aboutus-l3d.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 1000px) {
  /* Place the timelime to the left */
  .timeline.aboutus-l3d::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container.aboutus-l3d {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container.aboutus-l3d::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .aboutus-l3d.left::after, .aboutus-l3d.right::after {
    left: 0%;
  }
  
  /* Make all right containers behave like the left ones */
  .aboutus-l3d.right {
    left: 0%;
  }
}
